a:link{
    color:#212929;
    text-decoration: none;
}
a:visited {
    color: #2b3c3c;
    text-decoration: none;
}
a:hover {
    color: #b6ff00;
    text-decoration: none;
}
a:active {
    color: #5c70e6;
    text-decoration: none;
}
#wrapper {
    background-color: #f4fafa;
    position: relative;
    margin: 0 auto;
    width: 1024px;
    height: 800px;
    box-shadow: 10px 7px 10px -5px #404040, 0px 0px 5px -5px #000;
}
#header{
    position: relative;
    height: 60px;
    width: 1024px;
    background-color: #88c7bb;
}
#menu {
    font:menu;
}
#content{
    position:relative;

}